<md-content style="background-color: whitesmoke; margin: 0 auto" flex="60" flex-sm="80" flex-xs="100" >

  <form style="text-align: center; margin: 0 auto" layout="column" layout-align="space-between">
    <br>

    <div layout="row">
      <label style="margin-right: 15px">Upload Image:</label>
      <br>
      <input style="float: left" type="file" ng-model-instance onchange="angular.element(this).scope().imageUpload(event)" name="datafile" accept="image/*">
    </div>
    <br>
    <img ng-src="{{charter.image}}">
    <br>

    <md-input-container>
      <label>Charter Name</label>
      <input required minlength="2" name="name" ng-model="charter.name" aria-label="Charter Name" >
    </md-input-container>

    <md-input-container>
      <label>Captain Name</label>
      <input required minlength="2" ng-model="charter.captain" aria-label="Charter Name">
    </md-input-container>
    <md-input-container>
      <label>Website</label>
      <input required minlength="2" ng-model="charter.website" aria-label="Charter Name">
    </md-input-container>
    <md-input-container>
      <label>Email</label>
      <input required minlength="2" aria-label="Charter Name" ng-model="charter.email">
    </md-input-container>
    <md-input-container>
      <label>Phone Number</label>
      <input required minlength="2" ng-model="charter.phoneNumber" aria-label="Charter Name">
    </md-input-container>

    <div style="border: solid 1px" layout="row" layout-sm="column" layout-xs="column">
      <label>Location</label>
      <div>
        <h1 class="md-title">Enter an address</h1>
        <div layout="row">
          <md-input-container>
            <label>Street Name</label>
            <input ng-model="charter.street">
          </md-input-container>
          <md-input-container>
            <label>City</label>
            <input ng-model="charter.city">
          </md-input-container>
          <md-input-container>
            <label>State</label>
            <md-select ng-model="charter.state">
              <md-option ng-repeat="state in states" ng-model="charter.zipCode" value="{{state.abbreviation}}" ng-disabled="$index === 1">
                {{state.abbreviation}}
              </md-option>
            </md-select>
            <md-input-container>
              <label>Zip Code</label>
              <input ng-model="charter.zipCode">
            </md-input-container>
          </md-input-container>
        </div>
      </div>
    </div>

    <br>
    <br>

    <label style="float: left;">Description</label>
      <textarea rows="20" style="resize: vertical" required minlength="2" ng-model="charter.description" aria-label="Charter Name">
      </textarea>

  </form>

  <br>
  <div style="float: right; margin-bottom: 20px">
    <md-button class="md-raised md-warn" ng-click="cancelChanges()">Cancel</md-button>
    <md-button style="background-color: #ffff00  " ng-click="previewChanges()" class="md-raised">Preview</md-button>
    <md-button class="md-raised md-primary" ng-click="saveChanges()">Save</md-button>
  </div>
</md-content>





