<md-content style="background-color: whitesmoke; margin: 0 auto" flex="60" flex-sm="80" flex-xs="100">
<br/>
<md-tabs md-dynamic-height class="md-accent" md-selected="data.selectedIndex">
<md-tab label="Profile Header">
    <md-content class="md-padding" md-whiteframe="3">
        <form name="profileHeader" layout="column">
            <div>
                <label class="md-title" style="margin-right: 15px">Upload Image:</label>
                <br>
                <input style="float: left" type="file" ng-model-instance
                       onchange="angular.element(this).scope().imageUpload(event)" name="datafile"
                       accept="image/*">
            </div>
            <br>

            <div layout="row" layout-align="center center">
                <img ng-if="charter.image" style="width: 50%; height: 10%" ng-src="{{charter.image}}">
            </div>
            <br>
            <md-input-container>
                <label>Charter or Company Name</label>
                <input required minlength="2" name="profileHeader.name" ng-model="charter.name"
                       aria-label="charter.name">

                <div ng-messages="profileHeader.name.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength']">
                        Required
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Captain Name</label>
                <input required minlength="2" name="profileHeader.captain" ng-model="charter.captain"
                       aria-label="Charter Name">

                <div ng-messages="profileHeader.captain.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength']">
                        Required
                    </div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Website ex. www.domain.com <em>(optional)</em></label>
                <input minlength="2" ng-model="charter.website" aria-label="Charter Website">
            </md-input-container>

            <md-input-container>
                <label>Email</label>
                <input required name="profileHeader.email" type="email" aria-label="Charter Name"
                       ng-model="charter.email"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>

                <div ng-messages="profileHeader.email.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Phone Number</label>
                <input required minlength="10" maxlength="30" name="profileHeader.phoneNumber" type="tel"
                       ng-model="charter.phoneNumber" aria-label="Charter Name">

                <div ng-messages="profileHeader.phoneNumber.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                        Your phone number must contain at least 10 numbers.
                    </div>
                </div>
            </md-input-container>

            <div style="border: solid 1px">
                <h3 class="md-title">Enter an address</h3>

                <div layout="row" layout-sm="column" layout-xs="column" layout-align="space around">
                    <md-input-container>
                        <label>Street Name</label>
                        <input ng-model="charter.street" required="" minlength="2" name="profileHeader.street">

                        <div ng-messages="profileHeader.street.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                required
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>City</label>
                        <input ng-model="charter.city" minlength="2" name="profileHeader.city" required="">

                        <div ng-messages="profileHeader.city.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                required
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>State</label>
                        <md-select ng-model="charter.state" name="profileHeader.state" aria-label="blah" required="">
                            <md-option ng-repeat="state in states" ng-model="charter.zipCode"
                                       value="{{state.abbreviation}}">
                                {{state.abbreviation}}
                            </md-option>
                        </md-select>
                        <div ng-messages="profileHeader.state.$error" role="alert">
                            <div ng-message-exp="['required']">
                                required
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Zip Code</label>
                        <input ng-model="charter.zipCode" name="profileHeader.zipCode" type="text" minlength="5"
                               required="">

                        <div ng-messages="profileHeader.zipCode.$error" role="alert">
                            <div ng-message-exp="['required']">
                                Must be 5 numbers long.
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="end end">
                <md-button aria-label="blah" ng-disabled="profileHeader.$invalid" class="md-fab" ng-click="data.selectedIndex = 1">
                    <md-icon md-svg-icon="../../assets/icons/arrow-right.svg"></md-icon>
                    <md-tooltip>To General Info</md-tooltip>
                </md-button>
            </div>
        </form>
    </md-content>
</md-tab>
<md-tab label="General Info">
    <md-content class="md-padding" md-whiteframe="3">
        <form name="generalInfo" layout="column">
            <md-switch ng-model="charter.displayGeneralInfo" aria-label="Switch 1">
                Display this tab in Profile
            </md-switch>
            <div>
                <h4 style="margin: 0 auto">Boating season</h4>

                <div layout="row" layout-align="space-around center" style="width:50%; margin:auto">
                    <md-select ng-disabled="charter.boatSeason.allYear" aria-label="blah"
                               ng-model="charter.boatSeason.startMonth">
                        <md-option ng-repeat="month in boatingSeasonFrom">
                            {{month.month}}
                        </md-option>
                    </md-select>
                    <h5>to</h5>
                    <md-select ng-disabled="charter.boatSeason.allYear" aria-label="blah"
                               ng-model="charter.boatSeason.endMonth">
                        <md-option ng-repeat="month in boatingSeasonTo" ng-disable="month.enabled">
                            {{month.month}}
                        </md-option>
                    </md-select>
                    <md-checkbox ng-model="charter.boatSeason.allYear">
                        All Year
                    </md-checkbox>
                </div>
                <div layout="row" layout-align="space-around">
                    <div layout="column" layout-align="center center">
                        <h4>Rates</h4>
                        <md-button aria-label="blah" class="md-fab" ng-click="addObjects('rates')">
                            <md-icon md-svg-icon="../../assets/icons/ic_add_white_24px.svg"></md-icon>
                        </md-button>
                        <div layout="row" ng-repeat="rate in charter.rates" style="margin: auto">
                            <md-input-container>
                                <label>Description <em>ex. Adults, Children</em></label>
                                <input type="text" max="10" ng-model="rate.name"/>
                            </md-input-container>
                            <md-input-container>
                                <label>price <em>($)</em></label>
                                <input type="text" max="4" ng-model="rate.price"/>
                            </md-input-container>
                        </div>
                    </div>

                    <div layout="column" layout-align="center center">
                        <h4>Departure Times</h4>
                        <md-button class="md-fab" aria-label="blah" ng-click="addObjects('departureTimes')">
                            <md-icon md-svg-icon="../../assets/icons/ic_add_white_24px.svg"></md-icon>
                        </md-button>
                        <div layout="row" layout-align="center center" ng-repeat="time in charter.departureTimes">
                            <md-input-container>
                                <label>Departure Times</label>
                                <input type="text" ng-model="charter.departureTimes.time" maxlength="5" minlength="1"/>
                            </md-input-container>
                            <md-select ng-model="charter.departureTimes.ampm" aria-label="blah"
                                       style="margin-bottom: 44px">
                                <md-option>am</md-option>
                                <md-option>pm</md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <span>Is reservation required?</span>
                    <md-select ng-model="charter.reservationRequired" aria-label="blah" Required="">
                        <md-option value="true">Yes</md-option>
                        <md-option value="false">No</md-option>
                    </md-select>
                </div>

                <div layout="row" layout-align="space-around">

                    <div layout="column" layout-align="center center" style="width: 40%">
                        <h4>Onboard Services</h4>
                        <md-button class="md-fab" aria-label="blah" ng-click="addObjects('onboardServices')">
                            <md-icon md-svg-icon="../../assets/icons/ic_add_white_24px.svg"></md-icon>
                        </md-button>
                        <md-input-container ng-repeat="service in charter.onboardServices" style="width:100%">
                            <label>Onboard Services<em>(ex. rod rentals, onboard filet chef)</em></label>
                            <input ng-model="service.name" type="text"/>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-align="center center" style="width: 40%">
                        <h4>Additional Services</h4>
                        <md-button class="md-fab" aria-label="blah" ng-click="addObjects('additionalServices')">
                            <md-icon md-svg-icon="../../assets/icons/ic_add_white_24px.svg"></md-icon>
                        </md-button>
                        <md-input-container ng-repeat="service in charter.additionalServices" style="width:100%">
                            <label>Additional Services<em>(ex. Sunset cruises, Dophin viewings)</em></label>
                            <input ng-model="service.name" type="text"/>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <div layout="row" layout-align="end end">
                <md-button class="md-fab" ng-click="data.selectedIndex = 2">
                    <md-icon md-svg-icon="../../assets/icons/arrow-right.svg"></md-icon>
                    <md-tooltip>To About Section</md-tooltip>
                </md-button>
            </div>

        </form>
    </md-content>
</md-tab>
<md-tab label="About">
    <label class="md-title" style="float: left;">Description</label>
    <br>

    <form name="aboutForm">
        <trix-editor trix-file-accept="false" spellcheck="true" name="aboutForm.description"
                     style=" text-align: left;background-color: white; min-height: 400px" class="trix-content"
                     angular-trix ng-model="charter.description" required
                     place-holder="Tell everyone your story"></trix-editor>
    </form>
</md-tab>
</md-tabs>


<div ng-show="loadingFlag" style="z-index: 10; position: absolute; top: 25%; left: 40%;" layout="row"
     layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
</div>
<br>

<div style="height:24px; width:100%">
    <p ng-if="savedFlag"
       style="background-color: green; color: white;font-size: 23px;border-radius:20px;opacity:.75">Saved!!</p>
</div>
<br>

<div id="adminActionButtons" style="margin-bottom: 20px"  layout="row">
    <md-button ng-hide="true" style="color: whitesmoke;background-color: gold" aria-label="blah" class="md-raised"
               ng-click="cancelChanges()">Get Featured!
    </md-button>
    <span flex></span>
    <md-button class="md-raised md-warn" ng-click="cancelChanges()" aria-label="blah">Cancel</md-button>
    <md-button style="color: dimgrey;background-color: #ffff00" ng-click="previewChanges()"
               ng-disabled="profileHeader.$invalid" aria-label="blah" class="md-raised">Preview
    </md-button>
    <md-button aria-label="blah" class="md-raised md-primary" ng-click="saveChanges()"
               ng-disabled="profileHeader.$invalid || aboutForm.$invalid">Save
    </md-button>
</div>
</md-content>





