<md-content class="md-padding md-accent" style="width: 100%; background-color: #2083A1; color: white !important;" >

  <section layout="row" layout-align="space-around" flex="60" flex-sm="80" flex-xs="100" style="margin: 0 auto">
    <div >
      <h4>Site Map</h4>
      <a style="cursor: pointer; color:whitesmoke" href="/"> Home</a><br>
      <a style="cursor: pointer; color:whitesmoke" href="/states"> Search by State</a><br/>
      <a style="cursor: pointer; color:whitesmoke" href="/about"> About</a><br/>
      <a style="cursor: pointer; color:whitesmoke" href="/contact"> Contact Us</a><br/>
    </div>

    <div>
      <h4>Additional Resources</h4>
      <a style="cursor: pointer; color:whitesmoke" ng-click="openPrivacyPolicy($event)"> Privacy Policy</a><br/>
      <a style="cursor: pointer; color:whitesmoke" ng-click="openTermsOfUse($event)"> Terms of Use</a><br/>
      <!--<a style="cursor: pointer; color:whitesmoke" ng-click="">Advertise</a><br/>-->
    </div>
  </section>

</md-content>
