<section class="container md-padding" layout="Row" style="width:100%; ">


  <div hide show-gt-sm class="md-padding" flex="25">
    <div  style="background-color: #00b3ee; margin: 0 auto; width: 200px; height: 75%; position: fixed" class="RightBotAd">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- findpartyboats.com -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4869188479204194"
           data-ad-slot="5463156866"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

    </div>
  </div>

  <div style="text-align: center; margin: 0 auto"  class="list" flex="50" flex-sm="80" flex-xs="100" >
    <h1>Nearby Charters: </h1>

    <div ng-show="loadingFlag" style="z-index: 10; position: absolute; top: 30%; left: 48%;" layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
    </div>
    <div ng-hide="!noCharterFlag">
      <h3 > Sorry, there are no charters in this area! If you know any, send them an email and let them know how awesome this site could be with their help!</h3>
    </div>
    <div ng-repeat="x in charters" layout="column" layout-align="space-around space-around" >
      <md-card layout="row" layout-xs="column" layout-align="space-around space-around" ng-click="setBoat(x)"  ui-sref="boatProfile">
        <md-card-title class="rmvPad" layout="column" flex="40" flex-xs="100">
          <h3 style="margin-top: 0px">{{x.name}}</h3>
          <i>{{x.city}} {{x.state}}, {{x.zipCode}}</i>
        </md-card-title>
        <md-card-title class="rmvPad" style="text-align: center" flex="25" flex-xs="100">
          <div style="text-align: center; margin:  auto;">
            <h4>Captain</h4>
            <h5>{{x.captain}}</h5>
          </div>
        </md-card-title>
        <div flex="33" style="text-align: center" flex-xs="100">
          <h5 class="rmvMarg" style="margin: 5% 5% 5% 0; float: right"> Dist: {{Math.floor(x.distance)}} mi.</h5>
        </div>
      </md-card>

      <!--<div class="md-padding" style="" ng-show="$index % 3 == 0" >

      </div>-->
    </div>
  </div>

  <div hide show-gt-sm  class="md-padding" flex="25">
    <div style="background-color: #00b3ee; margin: 0 auto; width: 200px; height: 75%; position: fixed" class="RightBotAd">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- findpartyboats.com -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4869188479204194"
           data-ad-slot="5463156866"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>

</section>


<div class="md-padding" >
</div>
