<md-toolbar style="background-image: url('../../assets/images/oceanWater.jpg'); height: 2vh; text-align: center">
  <div class="md-toolbar-tools">
    <md-button style="min-width: 1%; margin-left: 2%" ui-sref="main" ng-click="home()">
      <md-icon md-svg-src="../assets/icons/ic_home_white_24px.svg"></md-icon>
    </md-button>
    <span flex>
          <h1 id="headerTitle">Find Party Boats!</h1>
    </span>
    <md-menu style="margin-right: 3%">
      <md-button ng-show="userFlag" style="background-color: #00b3ee" class="md-icon-button md-raised" ng-click="openMenu($mdOpenMenu,$event)">
        <md-icon md-svg-src="../assets/icons/ic_person_outline_white_24px.svg"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ui-sref="admin" ng-click="closeMenu($event)">
            <!--<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>-->
            My Page
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="main" ng-click="logout($event)">
            <!--
                        <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
            -->
            Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<md-subheader ng-hide="subheaderFlag" style="padding: 0; height: 50px">
  <div layout="row" layout-align="end" style="margin-top: -19px; padding-right: 5%  " >
    <md-input-container class="md-block" style="padding:0">
      <label>Zip Code</label>
      <input style="text-align:  center" maxlength="5"  ng-model="zip" type="text" pattern="[0-9]*">
    </md-input-container>
    <md-button ng-disabled="zipCode.length < 5"  style="min-width: 1%; height: 2%; margin: 0; padding: 1%;" ng-click="search()" >
      <md-icon  md-svg-src="../../assets/icons/ic_search_black_24px.svg"></md-icon>
    </md-button>
  </div>
</md-subheader>
