<md-toolbar style=" height: 64px; text-align: center">
    <div class="md-toolbar-tools">
        <md-button hide-gt-xs style="min-width: 1%; margin-left: 2%" ng-click="openDrawer()" aria-label="home">
            <md-icon md-svg-src="../assets/icons/ic_hamburger_white_24px.svg"></md-icon>
        </md-button>
        <h1  id="headerTitle" style="margin-left: 5%">Find Party Boats</h1>


        <span hide-xs  flex layout="row" layout-align="end" id="pageLinks">
            <a ng-click="home()" ui-sref="main" ng-class="{'currentPageLink': currentUrl === '/'}"> Home</a> |
            <a ui-sref="states" ng-class="{'currentPageLink': currentUrl === '/states'}"> Search By State</a> |
            <!--<a> Articles</a> |-->
            <a ui-sref="about" ng-class="{'currentPageLink': currentUrl === '/about'}"> About</a>  |
            <a ui-sref="contactForm" ng-class="{'currentPageLink': currentUrl === '/contact'}"> Contact </a>
        </span>
        <span hide-gt-xs flex></span>
        <md-button hide-gt-xs style="min-width: 1%; margin-left: 2%" ui-sref="main" ng-click="home()" aria-label="home"
                   layout="row" layout-align="center endr">
            <md-icon md-svg-src="../assets/icons/ic_home_white_24px.svg"></md-icon>
        </md-button>
        <md-menu style="margin-right: 3%; min-width: 50px">
            <md-button ng-show="userFlag" style="background-color: #00b3ee" class="md-icon-button md-raised"
                       aria-label="menu" ng-click="openMenu($mdOpenMenu,$event)">
                <md-icon md-svg-src="../assets/icons/ic_person_outline_white_24px.svg"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button aria-label="admin" ng-click="myPage($event)">
                        <!--<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>-->
                        My Page
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ui-sref="main" ng-click="logout($event)" aria-label="logout">
                        <!--
                                    <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                        -->
                        Logout
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<md-subheader ng-hide="subheaderFlag" style="padding: 0; height: 50px">
    <div layout="row" layout-align="end" style="margin-top: -19px; padding-right: 5%  ">
        <md-input-container class="md-block" style="padding:0">
            <label>Zip Code</label>
            <input style="text-align:  center" maxlength="5" ng-model="zip" type="text" pattern="[0-9]*">
        </md-input-container>
        <md-button aria-label="search" ng-disabled="zipCode.length < 5"
                   style="min-width: 1%; height: 2%; margin: 0; padding: 1%;" ng-click="search()">
            <md-icon md-svg-src="../../assets/icons/ic_search_black_24px.svg"></md-icon>
        </md-button>
        <p style="margin-top: 1.8%">or Search by <a ui-sref="states">State</a></p>

    </div>

</md-subheader>

<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        hide-gt-xs
        md-whiteframe="4">

    <md-toolbar style="text-align: center; color:#f5f5f5">
        <h2>Menu</h2>
    </md-toolbar>

    <md-list>
        <md-list-item ui-sref="main" ng-class="{'currentPageListItem': currentUrl === '/'}">
            Home
        </md-list-item>
        <md-divider></md-divider>

        <md-list-item ui-sref="states" ng-class="{'currentPageListItem': currentUrl === '/states'}">
            Search By State
        </md-list-item>
        <md-divider></md-divider>

        <md-list-item ui-sref="about" ng-class="{'currentPageListItem': currentUrl === '/about'}">
            About
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ui-sref="contactForm" ng-class="{'currentPageListItem': currentUrl === '/contact'}">
            Contact Us
        </md-list-item>
        <md-divider></md-divider>

    </md-list>

    </md-sidenav>