


<section class="md-padding" style="margin: 0 auto; text-align: center" flex="50" flex-sm="80" flex-xs="100">
  <div ng-show="loadingFlag" style="z-index: 10; position: absolute; top: 30%; left: 50%; margin-left: -50px" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
  </div>
  <div ng-hide="loadingFlag" layout-gt-xs="row">
    <div flex="50" flex-xs="100">
      <img class="centerImg" style="width: 100%; height: 100%" ng-src={{charter.image}} />
    </div>
    <div class="centerText" flex="50" flex-xs="100">
      <h1> <b>{{charter.name.toUpperCase()}}</b></h1>
      <h3>Captain <b>{{charter.captain}}</b></h3>
      <h4> <i>{{charter.street}}, {{charter.city}} {{charter.state}}, {{charter.zipCode}}</i></h4>
      <h5>Website: <a href="http://{{charter.website}}" target="_blank" ng-click="">{{charter.website}}</a></h5>
      <h5>Phone Number: {{charter.phoneNumber}}</h5>

    </div>
  </div>

  <br>
  <br>

  <div class="trix-content" style="text-align: justify" ng-bind-html="charter.description"></div>


</section>

<div ng-hide="previewMode == false" flex style="background-color: #dddd00; opacity: .5; position: fixed; width: 100%" layout="row">
  <div style="margin: 0 auto">
    <md-button ng-click="previewBack()" class="md-raised md-primary">Back</md-button>
    <md-button ng-click="previewSave()" class="md-raised md-warned">Save</md-button>
  </div>
</div>
