<div style="text-align: center">
  <uib-carousel no-pause="true" active="active" interval="3000" template-url="" no-wrap="false" style="width: 100%">
    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
      <img hide-xs style="height: 550px; width: 100%" ng-src="{{slide.image}}">
      <img hide-gt-xs style="height: 300px; width: 100%" ng-src="{{slide.image}}">
      <div style="margin-top: -20%" class="carousel-caption">
        <h1><i>"Had the best time, thanks findpartyboats.com!"</i><br>- Brennan</h1>
      </div>
    </uib-slide>
  </uib-carousel>
</div>

<div style="background-color: whitesmoke; text-align:center; width: 100%;" class="row  md-padding">
  <form class="" >
    <md-content style="background-color: whitesmoke">
      <md-input-container style="text-align: center;">
        <label>Zip Code</label>
        <input type="number" class="searchField" maxlength="5" max="99999" ng-model="zipCode">
      </md-input-container>
      <md-button ui-sref="searchList" ng-disable="zipCode.toString().length != 5 " class="md-raised" style="height: 4vh; font-size: 2vh; background-color: #00b3ee; color: whitesmoke">Search</md-button>
    </md-content>

  </form>
</div>
<br>
<section class="md-padding" style="text-align: center; background-color: whitesmoke" layout="column">
  <h2 style="margin-top: -2%">Featured Charters</h2>
  <br>
  <div layout="row" layout-sm="column" layout-xs="column" layout-align="space-between space-between" >
    <md-card flex-xs="80" flex-sm="75"  class="featuredCard  center md-padding" style="margin-top:2%; text-align:center; background-repeat: no-repeat; background-image: url('../../assets/icons/ic_star_black_24px.svg');" ng-repeat="x in [0,1,2,3]">
      <md-card-title class="center" layout="column">
        <h4>Featured Boat Name</h4>
        <h5 style="margin-top: 0"><i>Lacey Township NJ, 08731</i></h5>
      </md-card-title>
      <br>
      <br>
      <br>
      Click to View Profile
    </md-card>
  </div>

</section>


<section class="preFooter md-padding" flex style="background-color: whitesmoke">
  <md-divider flex="75"></md-divider>
  <br>
  <div flex="75" class="center"  layout="column" style="margin: 0 auto" >

    <div hide show-gt-sm flex="10"></div>

    <div id="" flex="20" flex-sm="80" flex-xs="100">
      <b>Login or Create an Account to add your boat!</b><br>
      <md-button style="background-color: #00d4b4; color: whitesmoke" class="md-raised" ng-click="openLoginDialog()"> Add Boat </md-button>
    </div>

    <div id="about" flex="45" flex-sm="80" flex-xs="100">
      <b>About</b><br>
      <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <div id="social" flex="20" flex-sm="80" flex-xs="100">
      <b>Follow us on</b><br>
      <div style="float: left;" layout="row">
        <md-icon style="float: left;" md-svg-src="../../assets/icons/facebook-box.svg"></md-icon>
        <md-icon style="float: left;" md-svg-src="../../assets/icons/twitter-box.svg"></md-icon>
      </div>
    </div>


  </div>


</section>
