<md-content class="md-padding" flex="50" flex-sm="80" flex-xs="95" style="margin: 0 auto; margin-top: 2%; background-color: whitesmoke">
  <h2 style="text-align: left">Who we are:</h2>
  <br>
  <p class="aboutText" style=" font-size: 1.5em; text-align: justify; ">
    Looking for your next great fishing adventure? We will help you find the closest charter boats in your area!  We streamlined the process of searching through countless pages to find a party boat near you.  Just search by zip code or state and instantly get a list of all the party boats in that area!  We are doing the best we can to become the premier site on the internet for finding fishing excursions! We are constanly working to make your experience the best possible.  We help cnnect you with the biggest party boats to the smallest of charter boats in the area of your choosing for FREE!
  </p>
  <h2 style="text-align: left">Word from our Founder:</h2>
  <br>
  <p class="aboutText" style=" font-size: 1.5em; text-align: justify; ">
    As an avid fisherman my entire life, I remember going on party boats in New Jersey and other vacation spots since I was a young child.  It has always been a special time for me since it was when I bonded the most with friends and family, from my father and Mother to grandfather and niece.  It had been a few years since I had been on one so I decided to search the internet to find one near me, to my surprise it took me 15 minutes to finally find one, and another hour to find others.  I thought this was a huge problem! I believe now a days, nothing should take more than two minutes by searching the web.  So I decided to set out on building a site that would stream line the searching process.  
	
	Now with findpartyboats.com up and running, anyone can find a party boat anywhere in the United States as long as there is one nearby.  There are two ways to search.  One can search by a zip code, or if they are unsure of the zip code, by state.  I hope through this site, more people will go on charter boats and revive this once thriving industry and make unforgettable memories with their family and friends.  

  </p>
<br/>
  <div>
      <b>Join our news letter for amazing fishing stories!  We promise to only send you the most intresting stories.</b><br>
      <div layout="row" layout-align="start center">
        <md-input-container flex="50">
          <label>Email</label>
          <input ng-model="newsLetterEmail" type="email" />
        </md-input-container>
        <div>
          <md-button style="background-color: #00d4b4; color: whitesmoke" class="md-raised" ng-click="saveNewsLetterEmail()" ng-disabled ="!newsLetterEmail.includes('@') || !newsLetterEmail.includes('.')" > Join </md-button>
        </div>

        <p ng-show="emailAddedFlag" style="color: lightgreen" ><b>Added!!!</b></p>
      </div>
    </div>

</md-content>
